<!DOCTYPE html>
<html>
<body>

<h1>Hotels:</h1>

{{range .}}
<p>Name:{{.Name}}</p>
<p>Address:{{.Address}}</p>
<p>City:{{.City}}</p>
<p>Zip:{{.Zip}}</p>
<p>Region:{{.Region}}</p>
{{end}}
</body>
</html>